body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 90%;
    margin-top: 20px;
    text-align: center;
}

.ul_main{
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px 40px 10px 40px;
}

.post {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 0 0 18px 10px;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
}